.blog {
  display: block;
  padding: 50px 0 100px 0;
}

.the-blog {
  padding-left: 32px;
  padding-right: 32px;
}

.header-blog {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.blog p{
  padding-bottom: 0;
}
.content-class-inner {
  font-family: "PT Sans";
  display: flex;
  height: 450px;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  border: 1px solid rgba(33, 39, 54, 0.12);
}