.products-carousel {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.products-carousel .slide {
  display: flex;
}

.products-carousel .slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.carosel-button {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  margin: auto;
  border: none;
}

.a-background {
    background-image: url(https://res2.weblium.site/res/60080b98d4893c0021b21b64/6010362c704e5a002223b6eb_optimized_1920.webp);
    background-repeat: no-repeat;
    min-height: 748px;
    display: block;
    background-size: cover;
    background-position: center;
    
px
;
}

body > div.a-block > div > div {
  display: block;
  text-align: left;
  font-weight: 400;
  margin-top: 30%;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
}
body > main > div.a-block > div.a-background > div > div:nth-child(1) > h4 {
    font-size: 62px;
    font-family: "Bebas Neue", cursive;
    text-align: left;
    text-transform: none;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}
body > main > div.a-block > div.a-background > div > div:nth-child(1) > span {
  color: rgba(255,255,255,0.62);
  font-size: 30px;
    font-family: "Bebas Neue", cursive;
    text-align: left;
    text-transform: none;
    display: block;
    }
body > main > div.a-block > div.a-background > div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
    padding-right: 24px;
    padding-bottom: 90px;
    padding-left: 24px;
}
body > main > div.a-block > div.a-background > div > div.keep {
  font-size: 62px;
  font-family: "Bebas Neue", cursive;
  text-align: left;
  text-transform: none;
  display: block;
  color: white;
 }
 body > main > div.a-block > div.a-background > div > div.an-banner > .slogan {
color: white;
font-size: 15px;
margin: 12px;
display: flex;
font-size: 20px;
font-family: "PT Sans", sans-serif;
 }
 body > main > div.a-block > div.a-background > div > div.an-banner > div > div > img {
   height: 24px;
   width: 24px;
 }
 body > main > div.a-block > div.a-background > div > div.an-banner > div > div {
   margin-right: 30px;
 }
 body > main > div.a-block > div.a-background > div > div.an-banner-slogan {
  color: white;
  font-size: 15px;
  margin: 12px;
  display: flex;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
 }
@media (max-width: 992px)
.text_1k0 * {
    font-size: inherit;
}