/* .footer {
    align-items: center;
    padding: 70px 32px 45px;
    background-color: #222323;
    color: rgba(255, 255, 255, 0.65);
}

/* .footer-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
} */

/* @media (min-width: 760px) {
    .footer.inner {
        display: grid;
        grid-template-columns: 40% 1fr 1fr 30%;
    }
} */


 /* .footer-slogan{
    display: flex;
    align-items: left;
} */
/* footer .footer-slogan {
    display: flex;
    flex-direction: column;
} */

/* @media (min-width: 760px) {
    footer .footer-slogan {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
} */

/* footer .footer-slogan .footer-logo {
    display: flex;
    justify-content: flex-start;
    height: 43px;
    width: 179px;
}

.footer-slogan-text {
    display:block;
    font-family: var(--smaller-font);
    justify-content: flex-start;
    line-height: 27px;
    margin-top: 30px;
}
.footer-slogan-text .footer-text {
    display: flex;
    text-align: left;
} */

/* @media (min-width: 760px) {
    footer .footer-slogan .footer-slogan-text {
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }
} */
/* .line-footer-social{
    display: block;
    text-align: right;
    padding: 15px 0px;
}
footer .footer-navigation {
    display: flex;
    justify-content: flex-start;
    font-family: var(--big-font);
    font-weight: 200;
    flex-direction: column;
    margin: 30px 15px 0 15px;
}

footer .footer-navigation-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    text-align: left;
}

.text-navigation-menu {
    color: #fff;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

footer .footer-shop {
    font-family: var(--big-font);
    flex-direction: column;
    margin: 30px 15px 0 15px;
}

footer .footer-social {
    display: flex;
    text-align: right;
    font-family: var(--big-font);
    flex-direction: column;
    margin: 30px 15px 0 15px;

}

div.footer-social a {
    color: transparent;
    text-decoration-color: none;
}

footer .footer-subtitle {
    font-family: var(--big-font);
    font-size: 23px;
    color: white;
}  */