.footer {
    align-items: center;
    background-color: #222323;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

@media (min-width: 760px) {
    .footer {
        display: grid;
        grid-template-columns: 40% 1fr 1fr 30%;
        align-items: stretch;
    }
}
/* .footer-inner {
    display: block;
    padding: 70px 32px 45px 32px;
} */
footer .footer-slogan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 760px) {
    footer .footer-slogan {
        padding-right: 100px;
        margin-left: 10px;
        margin-top: -35px;
    }
}

footer .footer-slogan .footer-logo {
    height: 200px;
    width: 200px;
}

footer .footer-slogan .footer-slogan-text {
    display: block;
    font-family: var(--smaller-font);
    text-align: center;
    line-height: 27px;
    padding: 30px;
    margin-top: -50px;
}

@media (min-width: 760px) {
    footer .footer-slogan .footer-slogan-text {
        padding: 0px;
        text-align: left;
    }
}

footer .footer-navigation {
    display: flex;
    justify-content: flex-start;
    font-family: var(--big-font);
    font-weight: 200;
    flex-direction: column;
    margin: 30px 15px 0 15px;
}

footer .footer-navigation-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    text-align: left;
}
.text-navigation-menu {
    color: #fff;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

footer .footer-shop {
    font-family: var(--big-font);
    flex-direction: column;
    margin: 30px 15px 0 15px;
}
footer .footer-social{
    display: flex;
    text-align: right;
    font-family: var(--big-font);
    flex-direction: column;
    margin: 30px 15px 0 15px;

}

.footer-social-icons {
    
    width: auto;
    height: auto;
}

footer .footer-subtitle {
    font-family: var(--big-font);
    font-size: 23px;
    color: white;
}