.slogan {
    font-family: PT Sans,sans-serif;
    font-size: 24px;
    color: rgba(34,35,35,0.46);
}
.section-main-text {
    font-family: PT Sans,sans-serif;
    font-size: 124px;
    color: #222323
}
.low-header-black {
    font-family: PT Sans,sans-serif;
    font-size: 52px;
    color: #222323;
}
.low-header-white{
    font-family: PT Sans,sans-serif;
    font-size: 52px;
    color: #ffffff;   
}
.red-dot {
    color: red;
}
.section-discriber {
    font-family: PT Sans,sans-serif;
    font-size: 20px;
    color: rgb(113, 116, 116);
}
.name-of-good {
    font-family: PT Sans,sans-serif;
    font-size: 16px;
    color: #f40106;
}
.price-of-good {
    font-family: PT Sans,sans-serif;
    font-size: 16px;
    color: #717474;
}

.white-subtitle-of-the-paragraph {
    color:#ffffff;
    font-family: "Pt Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
}
.white-text-of-the-paragraph {
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
}
.about-us {
    background-color: #303030;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}
.block-why-choose {
   text-align: center;
}
.line {
    padding-top: 15px;
    padding-bottom: 15px;
}
.small-silver-line {
    position: relative;
    min-width: 320px;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
}
.style-cards{
    border: 1px solid;
    text-align: center;
}
title-2-for-cards{
    font-family: Bevas Neue, cursive;
    font-size: 22px;
    color: #222323;
}
.subscription-card{
    color: #717474;
    font-size: 16px;
    font-family: PT Sans, sans-serif;
}
.block-about-us {
    margin-top: -50px;
    margin-left: -15px;
    margin-right: -15px;
}
.main_collection {
    text-align: center;
    font-family: Bebas Neue,cursive;
    font-size: 23px;
    letter-spacing: 2px;
}
div.w_collection a {
    text-align: left;
    text-decoration: none;
    font-family:PT Sans,sans-seri;
    color: rgb(255, 0, 0);
    margin-top: 8px;

}
div.man_collection a {
    text-align: left;
    text-decoration: none;
    font-family:PT Sans,sans-seri;
    color: rgb(255, 0, 0);
    margin-top: 8px;

}
.logo {
    font-family: PT Sans,sans-serif;
    font-size: 62px;
    padding-left: 30px;
    padding-right: 30px;
}
.section-main-img {
    width: 100%;
    height: auto;
}
.good-img-index-page {
    width: 100%;
    height: auto;
}
