.section-header {
    display:block;
    background-image: url(../img/yoga-girl.jpg);
    background-size: cover;
    min-height: 400px;
}
.section-text {
    display:block;
    padding: 50px;
}
.section-slogan {
    margin: 0;
    font-family: Bebas Neue, cursive;
    font-size: 22px;
    text-align: left;
    color: rgba(34,35,35,0.46);
}
.section-main-text {
    display: block;
    text-align: left;
    font-family: Bebas Neue, cursive;
    font-size: 62px;
    font-weight: 400;
    margin-top: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #222323;
}
.low-header-black {
    text-align: center;
    font-family: Bebas Neue, cursive;
    font-size: 52px;
    font-weight: 400;
    color: #222323;
}
.low-header-white{
    font-family: PT Sans,sans-serif;
    font-size: 52px;
    color: #ffffff;   
}
.red-dot {
    color: red;
}
.section-discriber {
    text-align: center;
    font-family: PT Sans,sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(113, 116, 116);
}
.name-of-good {
    display: inline-block;
    text-align: left;
    margin-top: 8px;
    font-family: PT Sans,sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #f40106;
}
.price-of-good {
    display: block;
    text-align: left;
    font-family: PT Sans,sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #717474;
}

.white-subtitle-of-the-paragraph {
    color:#ffffff;
    font-family: "Pt Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
}
.white-text-of-the-paragraph {
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
}
.about-us {
    background-color: #303030;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}
.block-why-choose {
   text-align: center;
}

.small-silver-line {
    position: relative;
    width: 87.76px;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    height: 1.5px;
    background-color: #e0e0e0;
}
.style-cards-border{
    border:2px solid #e0e0e0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.title-2-for-cards{
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    color: #222323;
}
.subscription-card{
    color: #717474;
    font-size: 16px;
    font-family: PT Sans, sans-serif;
}
.block-about-us {
    margin-top: -50px;
    margin-left: -15px;
    margin-right: -15px;
}
.main_collection {
    text-align: center;
    font-family: Bebas Neue,cursive;
    font-size: 23px;
    letter-spacing: 2px;
}
div.w_collection a {
    text-align: left;
    text-decoration: none;
    font-family:PT Sans,sans-seri;
    color: rgb(255, 0, 0);
    margin-top: 8px;

}
div.man_collection a {
    text-align: left;
    text-decoration: none;
    font-family:PT Sans,sans-seri;
    color: rgb(255, 0, 0);
    margin-top: 8px;

}
.logo {
    font-family: PT Sans,sans-serif;
    font-size: 62px;
    padding-left: 30px;
    padding-right: 30px;
}
.section-main-img {
    width: 100%;
    height: auto;
}
.good-img-index-page {
    width: 100%;
    height: auto;
}
