.subscribe {
    background-color: #f5f5f5;
    /* background-image: url(img/background-map.webp); */
    background-size: cover;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 35px 0 45px;
    /* text-align: right; */
}

.subscribe-row-items {
    display: flex;
    /* grid-template-columns: repeat(2,200px); */
    /* gap: 0px 35px; */
    font-weight: 400;
    justify-content: center;
    padding: 0 40px;
}


.subscribe-inner {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    margin: -30px -15px 0;
}

.item-sub {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 0 15px;
    margin-top: 30px;
    font-weight: 400;
}

div#sub1 {
    display: flex;
    flex-basis: 33.3333%;
    max-width: 33.3333%;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-convert {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin: 7.5px;
}

img#convert {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50px;
    width: 50px;
}

div#sub2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 41.6667%;
    max-width: 41.6667%;
}

.text-subs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

span#red-text-sub {
    color: #F40106;
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    text-align: left;
}

p#contact {
    color: #222323;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    text-align: left;
}

div#sub3 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    max-width: 25%;
}

.form-subs {
    display: block;
    font-weight: 400;
}

/* .form-subscribe {} */

.text-subs {
    display: flex;
    font-size: 14px;
    display: block;
    text-align: right;
    font-weight: bold;
    font-family: "PT Sans", "Network resource";
}


.place-subs {
    display: block;
    border-style: none;
    background-color: rgba(34, 35, 35, 0.12);
    cursor: text;
    margin-top: 12px;
    padding: 15px 26px;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    height: 50px;
    width: 160px
}

.button-subs {
    background-color: #F40106;
    border-style: none;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 24px;
    padding: 15px 26px;
    text-decoration-style: solid;
    text-align: center;
    height: 50px;
    width: 160px;
}