.blocks-group-why-choose-us {
    padding: 50px 0px 105px 0px;
    flex-wrap: wrap;
    justify-content: center;
}
/* @media(max-width:1122px) {
.blocks-group-why-choose-us{
    
} */
    
.block-why-choose {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.four-cards-why {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 0px 35px;
    justify-content: center;
}

.style-card {
    justify-content: center;
    border: 2px solid #e0e0e0;
    width: 250px;
    margin: 50px 10px 0px;
    padding: 25px 0;
    text-align: center;
    height: 250px;

}
img.cards-img-top {
    width: 50px;
    height: 50px;
    justify-content: center;
}

.text-in-fout-cards {
    padding: 15px 0 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.text-in-fout-cards p {
    padding: 0 5px;
}

.card-include {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.card-include h2 {
    display: block;
    margin: 15px 0 0;
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
    color: #222323;
    text-align: center;
}

.card-include p {
    display: block;
    margin: 15px 0 0;
    color: #717474;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    text-align: center;

}

img.top-image-about {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-us {
    background-color: #222323;
    text-align: left;
    display: flex;
    flex-direction: column;
}

@media (min-width: 760px) {
    .about-us {
        display: flex;
        flex-direction: row;
    }
}

img.social-icons {
    height: 31px;
    width: 31px;
}

.block-about-us {
    background-color: #222323;
    margin: 90px 30px 90px 30px;
    padding: 0px 15px;
}

/* @media(min-width: 980px) {
    .four-cards-why {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */

/* @media(min-width: 991px) {
    .four-cards-why {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1000px) {
    .four-cards-why {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */


/* .about-header-white h2::befor{
    content: '';
    position: relative;
    left: 0;
    bottom: -10px;
    background-color: #df0004;
    width: 18%;
    height: 2px;
    box-sizing: border-box;
} */